
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
*{
  margin: 0;
 padding: 0;
  font-family: 'Oswald', sans-serif;
 
}
body{
  background-color: rgba(160, 165, 165, 0.671);
}
/*menu de inicio*/
.header{
  
  display: flex;
  align-items: auto;
  justify-content: space-between;
  background-color: rgb(250, 80, 1);
  flex-wrap: wrap;
  padding: 2rem;
  
}
.navbar ul{
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  justify-content: flex-end
}
.navbar ul li{
  justify-content: space-between;
  display: flex;
}
.navbar ul li a {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  font-weight: 35px;
  margin-left: 35px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 20px;
  
}
.navbar ul li a:hover{
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}


  /*logo*/


   .logo img{
    width: 90px;
  }
 
  /*main*/

  h1{
    text-align: center;
    color: rgba(2, 2, 2, 0.493);
    margin-top: 40px;
  }
    .grid img{
      width:100%;
      height: 100%;
      object-fit: cover;
    }
    
    

   h3{
    text-align: center;
    color: rgba(248, 252, 255, 0.493);
    
  }
 
   /*footer*/
  .pie{
    align-items: center;
    background-color: rgb(250, 80, 1);
    display: flex;
    justify-content: center;
    padding: 30px;

    
  }
  .pie p{
    margin-left: 40px;
    font-size: 15px;
  }
  .pie img{
    width:60px;
    height: 100%;
    object-fit: cover;
  }

  /*estilos de css para blog.html*/
    

    .grid p{
      text-align: center;
    color: rgb(136, 140, 145);
    font-size: 20px;
    padding: 20px;
    
    
    }
   
  /*css de contacto*/
  .container-formulario formulario h1{

    text-align: center;
  }
  .container-formulario{
    padding-left: 485px;

  }

  .formulario{
    display: flex;
    flex-direction: column;
    width:850px;
    padding: 80px;
    margin: 50px;
    
  }


    /* movile last = celulares a lo ultimo*/

    @media (max-width: 550px){
       *{
        margin: 0;
        padding: 0;   
       }
       
       body{
        background-color: rgb(67, 68, 68);
       
       }
       h1{
        text-align: center;
       }
      .header{
        
        background-color: rgb(250, 80, 1);
       
    }
    
    .navbar{
      
      margin: auto;
    }
    
    .navbar ul{
      width: 100%;
      display: flex;
      flex-direction: column;
      

    
    }
    .navbar ul li{
      background-color: black;
      border-radius: 5px;
      margin-top:3px;
    }
    .navbar ul li a{
      color: aliceblue;
    }
    .grid{
      width: 100%;
      padding:5px;
      
    }

    .grilla{
      flex-direction: column;
      width: 100%;
    }
    
    .formulario{
      flex-direction: column;
      width: 300px;
      font-size: 20px;
      
      
    }
    .container-formulario{
      padding: 0;
     
      
  
    }
  
    }
    
   